.container {
    width: 90%;
    margin-inline: auto;
    margin-block: 2rem;
    line-height: 1.7rem;
}


.container p {
    font-size: 1.3rem;
}

strong {
    font-weight: 700;
}


.container ul li {
    font-size: 1.1em;
    margin-left: 1.7rem;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-block: 2rem;
}

.form-container button {
    border: none;
    background-color: #4cc54af3;
    max-width: 10rem;
    padding-block: .6rem;
    padding-inline: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.form-container  #id_file {
    display: none;
}

.form-container  label {
    display: block;
    background-color: #4cc54a99;
    padding-block: .6rem;
    padding-inline: 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;

    &:hover {
        background-color: #4cc54aea;
    }
}