.results-container .result .tables .dataframe-container,  .results-container .result .describe .dataframe-container{
  overflow-x: scroll;
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: 2rem;
}


.results-container .result .tables .select-table, .results-container .result .describe .select-table{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 4rem;

  & span {
    font-size: 1.2rem;
    background-color: #f1f1f1;
    padding-inline: 2rem;
    padding-block: .5rem;
    border-radius: 5px;
    cursor: pointer;
  }

  & span:hover, .selected {
    background-color: #365263;
    color: #f1f1f1;
  }

}


.results-container .result .tables .dataframe-container .dataframe, .results-container .result .describe .dataframe-container .dataframe {
  font-size: 1.2rem;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: default;
  border: none;
  table-layout:fixed;
  margin: 0 auto;
}

.results-container .result .tables .dataframe-container .dataframe tr, td, th, .results-container .result .describe .dataframe-container .dataframe tr, td, th {
  border: none;
}

.results-container .result .tables .dataframe-container .dataframe th, .results-container .result .describe .dataframe-container .dataframe th {
  padding: 1em;
  font-weight: 700;
}

.results-container .result .tables .dataframe-container .dataframe td, .results-container .result .describe .dataframe-container .dataframe td {
  text-align: center;
  padding: 1em;
}

.results-container .result .tables .dataframe-container .dataframe td::-webkit-scrollbar, .results-container .result .describe .dataframe-container .dataframe td::-webkit-scrollbar {
    width: 12px;
}


.results-container .result .tables .dataframe-container .dataframe td::-webkit-scrollbar-track, .results-container .result .describe .dataframe-container .dataframe td::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.results-container .result .tables .dataframe-container .dataframe td::-webkit-scrollbar-thumb, .results-container .result .describe .dataframe-container .dataframe td::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.results-container .result .tables .dataframe-container .dataframe thead tr, .results-container .result .describe .dataframe-container .dataframe thead tr {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.9);

  & th:nth-child(1) {
    background-color: var(--body-color);
  }
}

.results-container .result .tables .dataframe-container .dataframe tbody tr, .results-container .result .describe .dataframe-container .dataframe tbody tr {
  background-color: #f1f1f1;
}

.results-container .result .tables .dataframe-container .dataframe tbody tr th, .results-container .result .describe .dataframe-container .dataframe tbody tr th{
  background-color: rgba(0, 0, 0, 0.1);
}

.results-container .result .tables .dataframe-container .dataframe tbody tr:hover, .results-container .result .describe .dataframe-container .dataframe tbody tr:hover {
  & td {
    background-color: rgba(0, 0, 0, 0.2);
  }
}