{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static '/styles/base_styles.css' %}">
	{% block link %}{% endblock link %}
	<title>Document</title>
</head>
<body>
	<header>
		<h1>Plant Index Calculator (PICOnline)</h1>
		<h3>A Powerful Tool for Stress Tolerance and Susceptibility Evaluation</h3>
	</header>
	{% block content %}
	{% endblock content %}
	{% block script %}
	{% endblock script %}
</body>
</html>